body {
  background-color: #11011E;
  color: #ECF1F0;
  font-family: 'Raleway', sans-serif;
}
#App {
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
}
nav {
  color:  #ECF1F0;
  width: 80px;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
}
.red {
  color: red;
} 
.red.green {
  color: #0FAE96;
}
ul {
  display: flex;
  list-style: none;
}
li {
  padding: 18px;
}
span {
  color: #0FAE96;
}
thead th{
  padding-bottom: 20px;
}
.login {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  background-color: #0FAE96;
  border-color: #0FAE96;
  border-radius: 5px;
  color: #ECF1F0;
}
.tablesection h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
.tablesection p{
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: rgba(182,182,182,0.8);
  padding-left: 10px;
  padding-bottom: 12px;
}
tr:hover {
    background-color:rgba(112, 0, 255,0.05);
}
li:hover {
  color: #0FAE96;
}
#active {
  color: #0FAE96;
}
.new {
  display: none;
} 
.hero {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
}
.hero .textpart p {
  color: rgba(182,182,182,0.8);
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
}
.hero .textpart button {
  margin-top: 10px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #0FAE96;
  border: none;
  border-color: #0FAE96;
  border-radius: 8px;
  color: #ECF1F0;
}
.hero .textpart h1 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}
.hero .efectpart{
  width: 100vh;
 
  position: absolute;
  display: flex;
  justify-content: center;
}
.hero .efectpart .pink {
    width: 540px;
    height: 290px;
    flex-shrink: 0;
    border-radius: 675px;
    background-color: rgba(255, 0, 199,0.15);
    filter: blur(200px);
}
.hero .efectpart .blue {
  width: 540px;
  height: 290px;
  border-radius: 675px;
  background-color: rgba(112, 0, 255,0.15);
  filter: blur(200px);
}
.maginta {
  position: absolute;
  left: 0px;
  top:800px;
  width: 600px;
  height: 300px;
  border-radius: 675px;
  background-color: rgba(255, 0, 199,0.02);
  filter: blur(200px);
}
.cardsection {
   margin-top: 80px;
}
.cardsection h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;

}
.hero .textpart {
  z-index: 1;
}
.card {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.08);
  width: 360px;
  height: 185px;
  border-radius: 18px;
}
.card .cont {
  padding: 14px;
}
.card .cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card .cont .head{
  display: flex;
  justify-content: space-between;
}
.card .cont .head img {
  width: 45px;
  height: 45px;
}
.card .cont .head h3 {
  margin-top: 10px;
}
.cardsection {
  z-index: 1;
}
.card .cont .stats {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.cardo {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  flex: start;
}
.cardsection {
  margin-left: 7%;
  margin-right: 7%;
  width: auto;
  margin-top: 130px;
}
.learn {
  margin-left: 7%;
  margin-right: 7%;
  width: auto;
  margin-top: 130px;
}
.learn .learn-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.learn .learn-text h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
.learn .learn-text p {
  color: rgba(182,182,182,0.8);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: -5px;
}
.learn-explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 20px;
}
.learn-explore div {
  display: block;
  max-width: 500px;
}
.learn-explore div h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.learn-explore div p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: rgba(182,182,182,0.8);
}
.butn {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 21px;
  padding-left: 21px;
  background-color: #0FAE96;
  border: none;
  border-color: #0FAE96;
  border-radius: 8px;
  color: #ECF1F0;
}
.learn-card {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 70px;
}
#hi {
  width: 20px;
  height: 20px;
}
.learncard div{
  width: 180px;
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 15px;
}
.learncard div:hover {
  box-shadow: #ECF1F0;
}
.learncard div img {
   width: 50px;
   height: 50px;
}
.learncard div h1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.learncard div #active {
  color: #0FAE96;
  padding-top: 5px;
}
.learncard div p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: rgba(182,182,182,0.8);
}
.tablesection {
  padding-top: 60px;
  margin-left: 7%;
  margin-right: 7%;
  width: auto;
}
.tablesection table {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
}
.tablesection table tbody tr{
  width: 100%;
}
th, td {
  padding: 8px;
  text-align: center;
}
.Fotter {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.icon {
  font-size: 32px;
  color: rgba(182,182,182,0.8); 
  padding: 10px;
}
.icon:hover {
  color: rgba(203, 54, 171, 0.5);
}
@media screen and (max-width:960px) {
  .learn-text {
    text-align: center;
  }
  .tablesection{
    overflow-x: hidden;

  }
  .learn-card {
    text-align: center;
  }
  .learn-explore {
    display: flex;
    padding: 0;
    background: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .learn-explore div p {
    margin-bottom: 30px;
    padding-top: 5px;
  }
      body {
        overflow-x: hidden;
      }
     .login {
      display: none;
     }
     .new {
       display: flex;
       align-items: center;
       width: 100px;
       height: 100px;
       border: none;
       background: none;
       padding: 0;
       color: #ECF1F0;
       padding-left: 70px;
       margin-top: 5px;
     }
     .partL {
       position: fixed;
       top: 80px;
       left: 0;
       right: 0;
       bottom: 0;
       display: flex;
       margin-top: 0px;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       transform: translateX(100%);
       transition: transform 1.2s ease-in-out;
       background-color:  #11011E;
       z-index: 999;
     }
     .partL.open {
      transform: translateX(0);
     }
     #non {
      display: none;
     }
     .card {
      width: 100%; 
  }
  .card .cont {
    padding: 15px;
  }
  .cardo {
    gap: 15px;
   }
}
@media screen and (max-width:520px) {
  .tablesection {
    padding-top: 60px;
    margin-left: 0px;
    margin-right: 2px;
    width: auto;
    overflow-x: hidden;

  }
}